apiVersion: batch/v1
kind: Job
metadata:
  name: cpu-scale-test
  namespace: default
spec:
  parallelism: 1
  completions: 1
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: pause
        image: registry.k8s.io/pause:3.9
        resources:
          requests:
            cpu: "3000m"
            memory: "10Gi"
          limits:
            cpu: "3000m"
            memory: "10Gi"
